*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins";
    background-color: #0B192C;
}

header{
    display: block;
    padding: 32px;
    color: #dcdcdc;
}

#container{
    display: flex;
    align-items: flex-start;
}

#collector, #displayer{
    color: #dcdcdc;
    width: 50%;
    height: 100%;
    padding: 32px;
    display: grid;
    gap: 16px;
    border-radius: 12px;

}

#user-box, #review-box, #submitBtn{
    height: 100%;
    border-radius: 8px;
    font-family: "Poppins";
    font-weight: 600;
    background-color: #dcdcdc;
}

#review-box{
    resize: none;
}

#submitBtn:hover{
    cursor: pointer;
    background-color: #00879E;
    color: #dcdcdc;
    
}

.stars:hover{
    cursor: pointer;
}

#review-list{
    display: flex;

}

#reviews{
    list-style: none;
}


li{
    padding: 18px;
    border: 1px solid #ffffff;
    border-radius: 18px;
}

.nameSpan{
    font-weight: bold;
    margin-right: 28px;
}

.starsSpan{
    margin: 28px;
}

#date{
    text-align: end;
}